<button (click)="saveDataInCSV('simpleData', arrayWithSimpleData)">Save simple data array</button>
<button (click)="saveDataInCSV('dataWithConstructor', dataWithConstructor)">Save data with constructor array</button>
<br><br>


<div>Export simple data</div>
<input #fileUploadSimple [accept]="'.csv'" type="file" class="file-input" 
  (change)="importDataFromCSV($event)" hidden="true">
<button (click)="fileUploadSimple.click()"> Import from csv</button> 
<br><br>
 

<div>Export data that has a constructor</div>
<input #fileUpload [accept]="'.csv'" type="file" class="file-input" 
  (change)="importDataFromCSVByType($event)" hidden="true">
<button (click)="fileUpload.click()"> Import from csv</button> 
<br><br>


<div>data from csv</div>
<div *ngFor="let item of importedData"> {{item | json}}</div>
